{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finpy Server</title>
  <link rel="icon" href="{% static 'public/favicon.ico' %}" type="image/x-icon" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-gray-100 to-gray-300 font-sans leading-normal tracking-normal px-8 md:px-0">

  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="w-full max-w-lg p-8 bg-white rounded-xl shadow-lg transition-transform transform hover:scale-105">
      <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-black">Finpy Server</h1>
        <p class="text-sm text-zinc-500 mt-2">Powered by Django {{ django_version }}</p>
      </div>
      
      <div class="flex justify-center space-x-6">
        <a href="/api/docs" class="py-2 px-6 bg-violet-600 text-white font-semibold rounded-lg hover:bg-violet-500">Docs</a>
      </div>
    </div>
  </div>

</body>
</html>
