.text-10xl {
  font-size: 10rem;
}

.letter-spacing-custom {
  letter-spacing: -0.045em;
}

@keyframes gradient-foreground-1 {
  from,
  16.667%,
  to {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}

@keyframes gradient-background-1 {
  from,
  16.667%,
  to {
    opacity: 0;
  }
  25%,
  91.667% {
    opacity: 1;
  }
}

@keyframes gradient-foreground-2 {
  from,
  to {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}

@keyframes gradient-background-2 {
  from,
  to {
    opacity: 1;
  }
  33.333%,
  50% {
    opacity: 0;
  }
  25%,
  58.333% {
    opacity: 1;
  }
}

@keyframes gradient-foreground-3 {
  from,
  50%,
  to {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}

@keyframes gradient-background-3 {
  from,
  58.333%,
  91.667%,
  to {
    opacity: 1;
  }
  66.667%,
  83.333% {
    opacity: 0;
  }
}

.animate-gradient-foreground-1 {
  animation: gradient-foreground-1 8s infinite;
  background-image: linear-gradient(to right, #c517ff, #2631f7);
  background-clip: text;
  color: transparent;
}

.animate-gradient-background-1 {
  animation: gradient-background-1 8s infinite;
}

.animate-gradient-foreground-2 {
  animation: gradient-foreground-2 8s infinite;
  background-image: linear-gradient(to right, #007cf0, #00dfd8);
  background-clip: text;
  color: transparent;
}

.animate-gradient-background-2 {
  animation: gradient-background-2 8s infinite;
}

.animate-gradient-foreground-3 {
  animation: gradient-foreground-3 8s infinite;
  background-image: linear-gradient(to right, #7928ca, #ff0080);
  background-clip: text;
  color: transparent;
}

.animate-gradient-background-3 {
  animation: gradient-background-3 8s infinite;
}
